<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org" class="no-js">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
	<!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>Business Information Grid</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!--
		Weitere Informationen finden Sie hier:  http://necolas.github.io/normalize.css/
		-->
		<link rel="stylesheet" href="css/normalize.css"/>

		<!--
		CSS Framework, weitere Informationen: http://foundation.zurb.com/
		-->
		<link rel="stylesheet" href="css/foundation.css" />

		<!--
		Baumstruktur, weitere Informationen: http://www.jstree.com/
		Auf der Webseite zu finden: z.B unter http://big.nanoware.de/#/products und dann links bei "Kriterien auswöhlen" bei dem Reiter "Verfarhren"
		-->
		<link rel="stylesheet" href="js/vendor/jstree/themes/default/style.min.css" />

		<!--
		Angepasste Scrolleiste
		Weitere Infromationen: http://manos.malihu.gr/jquery-custom-content-scroller/
		Auf der Webseite zu finden unter: z.B zu finden unter http://big.nanoware.de/#/products unten in dem Bereich "Suche"
		-->
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />

		<!--
		jQuery UI ist für spezielle Bedienelemente
		weitere Informationen: http://jqueryui.com/
		Auf der Webseite zu finden unter: z.B das Accordion unter http://big.nanoware.de/#/products/old und dann "Produkttabelle"
		-->
		<link rel="stylesheet" href="js/jquery-ui/jquery-ui.css"/>
		<link rel="stylesheet" href="js/jquery-ui/jquery-ui.theme.min.css"/>

		<!--
		CSS File mit dem Layout für die Webseite
		-->
		<link rel="stylesheet" href="css/main.css"/>

		<!--
		Erkennt ob moderne HTML Features auf dem aktuellen Browser vorhanden sind
		Weitere Informationen: http://modernizr.com/
		-->
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<header id="header">
			<div class="row">
				<div class="small-12 medium-4 columns">
					<a href="/_index.html"><img src="images/logo.png" alt="BIG"/></a>

				</div>

				<div class="small-12 medium-8 columns right topbox">
					info@mustermail.at
					<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" data-options="is_hover:true" class="tiny grey halfround bordered button dropdown">
						ENGLISH
					</button>
					<button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" data-options="is_hover:true" class="tiny halfround bordered button  dropdown">
						LOGIN
					</button>
					<br/>
					<button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" data-options="is_hover:true" class="tiny grey halfround bordered button  dropdown">
						REGISTER
					</button>

					<br/>
					<ul data-dropdown-content="" id="drop1" class="f-dropdown green" aria-hidden="true" tabindex="-1">
						<li>
							<a href="#">English</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">Deutsch</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">Italiano</a>
						</li>
					</ul>
					<ul data-dropdown-content="" id="drop2"  class="f-dropdown green" aria-hidden="true" tabindex="-1">
						<li>
							<a href="/_index.html">Login as User</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/_index.html">Login as Guest</a>
						</li>
					</ul>

					<ul data-dropdown-content="" id="drop3"  class="f-dropdown green" aria-hidden="true" tabindex="-1">
						<li>
							<a href="/_index.html">Sign In</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/_index.html">Company</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/_index.html">Employee</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<nav id="menu" class="top-bar" data-topbar="" role="navigation">
						<ul class="title-area">

							<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
							<li class="toggle-topbar menu-icon">
								<a href=""><span>Menu</span></a>
							</li>
						</ul>

						<section class="top-bar-section">
							<ul class="left">
								<li class="has-dropdown not-click">
									<a href="#">Einkaufen</a>

									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>

										<!--<li>
										<label>Level One</label>
										</li>-->

										<li class="has-dropdown not-click">
											<a href="#">Teile zu fertigen</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Fertigteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Standardteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Normteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<!--<li class="divider"></li>
										<li>
										<a href="#">Sub-item 3</a>
										</li>

										<li>
										<a href="#">Sub-item 5</a>
										</li>
										-->
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown not-click">
									<a href="#">Verkaufen</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>

										<!--<li>
										<label>Level One</label>
										</li>-->
										<li class="has-dropdown">
											<a href="#">Teile zu fertigen</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Fertigteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Standardteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">Normteile</a>
											<ul class="dropdown">
												<li class="title back js-generated">
													<h5><a href="javascript:void(0)">Back</a></h5>
												</li>
												<li>
													<a href="#">new</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">old</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">unvollständig</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">renew</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">continue</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">inbox</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">sent</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">delete</a>
												</li>
											</ul>
										</li>
										<!--<li class="divider"></li>
										<li>
										<a href="#">Sub-item 3</a>
										</li>

										<li>
										<a href="#">Sub-item 5</a>
										</li>
										-->
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="#">Admin</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>

										<li>
											<a href="#">Mitarbeiter verwalten</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">Firmendaten verwalten</a>

										</li>

									</ul>
								</li>
								<li class="divider"></li>
							</ul>
							<!-- Right Nav Section -->
							<!--<ul class="right">
							<li class="divider"></li>
							<li>
							<a href="#">Item 2</a>
							</li>
							</ul>-->
						</section>
					</nav>
				</div>
			</div>

		</header>


		<section id="slider">
			<div class="row">
				<ul class="example-orbit" data-orbit="">
					<li>
						<img src="images/slide1.jpg" alt="slide 1" />
						<div class="orbit-caption">
							<h2>Headline</h2>
							Caption One.
						</div>
					</li>
					<li class="active">
						<img src="images/slide2.jpg" alt="slide 2" />
						<div class="orbit-caption">
							<h2>Second Headline</h2>
							Caption Two.
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section id="wrap">
			<div class="row">
				<div id="content" class="small-12 columns panel">
					HIER KOMMT DER CONTENT VON DEN TEMPLATES HINEIN

				</div>
				<div id="contentline" class="show-for-large-up"></div>
			</div>
		</section>

		<footer id="footer">
			<div class="row rowone">
				<div class="small-12 medium-3 columns">
					<img src="images/logofooter.png" alt="big"/>
				</div>
				<div class="small-12 medium-6 columns">
					<ul>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Trust</a>
						</li>
						<li>
							<a href="#">Sitemap</a>
						</li>
					</ul>
				</div>
				<div class="small-12 medium-3 columns" id="socialicons">
					<a href="#"><img src="images/facebook.png"/></a>
					<a href="#"><img src="images/twitter.png"/></a>
					<a href="#"><img src="images/linkedin.png"/></a>
					<a href="#"><img src="images/xing.png"/></a>
				</div>

				<hr/>

			</div>

			<div class="row rowtwo">
				<div class="small-6 medium-3 columns">
					<h6><a href="#">BIG</a></h6>
					<ul>
						<li>
							<a href="#">Careers</a>
						</li>
						<li>
							<a href="#">Investor Relations</a>
						</li>
						<li>
							<a href="#">trust.big.com</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>
				</div>
				<div class="small-6 medium-3 columns">
					<h6><a href="#">BIG</a></h6>
					<ul>
						<li>
							<a href="#">Careers</a>
						</li>
						<li>
							<a href="#">Investor Relations</a>
						</li>
						<li>
							<a href="#">trust.big.com</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>
				</div>
				<div class="small-6 medium-3 columns">
					<h6><a href="#">BIG</a></h6>
					<ul>
						<li>
							<a href="#">Careers</a>
						</li>
						<li>
							<a href="#">Investor Relations</a>
						</li>
						<li>
							<a href="#">trust.big.com</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>
				</div>
				<div class="small-6 medium-3 columns">
					<h6><a href="#">BIG</a></h6>
					<ul>
						<li>
							<a href="#">Careers</a>
						</li>
						<li>
							<a href="#">Investor Relations</a>
						</li>
						<li>
							<a href="#">trust.big.com</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>
				</div>

			</div>
		</footer>

		<!--
		jQuery
		weitere Informationen: http://jquery.com/
		-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/vendor/jquery-1.10.2.min.js"></script>
		
		<script src="js/plugins.js"></script>

		<!--
		Plugins von Foundation
		http://foundation.zurb.com/
		-->
		<script src="js/foundation/foundation.js"></script>
		<script src="js/foundation/foundation.topbar.js"></script>
		<script src="js/foundation/foundation.orbit.js"></script>
		<script src="js/foundation/foundation.dropdown.js"></script>
		<script src="js/foundation/foundation.equalizer.js"></script>
		<script src="js/foundation/foundation.reveal.js"></script>

		<!--
		jQueryUI
		http://jqueryui.com/
		-->
		<script src="js/jquery-ui/jquery-ui.min.js"></script>

		<!--
		Custom Scrollbar
		http://manos.malihu.gr/jquery-custom-content-scroller/
		-->
		<script src="/js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--<script src="/js/vendor/jquery.sticky.js"></script>-->

		<!--
		jsTree
		http://www.jstree.com/
		-->
		<script src="/js/vendor/jstree/jstree.js"></script>

		<!--
		Applikation
		-->
		<script src="js/app_index.js"></script>

	</body>
</html>
