<footer id="footer">
	<div class="row rowone">
		<div class="small-12 medium-3 columns">
			<img src="/BigSubex/images/logofooter.png" alt="big"/>
		</div>
		<div class="small-12 medium-6 columns">
			<ul>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of use</a>
				</li>
				<li>
					<a href="#">Trust</a>
				</li>
				<li>
					<a href="#">Sitemap</a>
				</li>
			</ul>
		</div>
		<div class="small-12 medium-3 columns" id="socialicons">
			<a href="#"><img src="/BigSubex/images/facebook.png"/></a>
			<a href="#"><img src="/BigSubex/images/twitter.png"/></a>
			<a href="#"><img src="/BigSubex/images/linkedin.png"/></a>
			<a href="#"><img src="/BigSubex/images/xing.png"/></a>
		</div>

		<hr/>

	</div>

	<div class="row rowtwo">
		<div class="small-6 medium-3 columns">
			<h6><a href="#">BIG</a></h6>
			<ul>
				<li>
					<a href="#">Careers</a>
				</li>
				<li>
					<a href="#">Investor Relations</a>
				</li>
				<li>
					<a href="#">trust.big.com</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of use</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
		</div>
		<div class="small-6 medium-3 columns">
			<h6><a href="#">BIG</a></h6>
			<ul>
				<li>
					<a href="#">Careers</a>
				</li>
				<li>
					<a href="#">Investor Relations</a>
				</li>
				<li>
					<a href="#">trust.big.com</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of use</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
		</div>
		<div class="small-6 medium-3 columns">
			<h6><a href="#">BIG</a></h6>
			<ul>
				<li>
					<a href="#">Careers</a>
				</li>
				<li>
					<a href="#">Investor Relations</a>
				</li>
				<li>
					<a href="#">trust.big.com</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of use</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
		</div>
		<div class="small-6 medium-3 columns">
			<h6><a href="#">BIG</a></h6>
			<ul>
				<li>
					<a href="#">Careers</a>
				</li>
				<li>
					<a href="#">Investor Relations</a>
				</li>
				<li>
					<a href="#">trust.big.com</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of use</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
		</div>

	</div>
</footer>