<header id="header">
	<div class="row">
		<div class="small-12 medium-4 columns">
			<a href="/BigSubex/index"><img src="/BigSubex/images/logo.png" alt="BIG"/></a>
		</div>
		<div class="small-12 medium-8 columns right topbox">
			info@mustermail.at
			<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" data-options="is_hover:true" class="tiny grey halfround bordered button dropdown">
				ENGLISH
			</button>
			<button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" data-options="is_hover:true" class="tiny halfround bordered button  dropdown">
				LOGIN
			</button>
			<br/>
			<button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" data-options="is_hover:true" class="tiny grey halfround bordered button  dropdown">
				REGISTER
			</button>

			<br/>
			<ul data-dropdown-content="" id="drop1" class="f-dropdown green" aria-hidden="true" tabindex="-1">
				<li>
					<a href="#">English</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Deutsch</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Italiano</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">French</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Spanish</a>
				</li>
			</ul>
			<ul data-dropdown-content="" id="drop2"  class="f-dropdown green" aria-hidden="true" tabindex="-1">
				<li>
					<a href="/BigSubex/login/user">Login as User</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/BigSubex/login/guest">Login as Guest</a>
				</li>
			</ul>

			<ul data-dropdown-content="" id="drop3"  class="f-dropdown green" aria-hidden="true" tabindex="-1">
				<li>
					<a href="/BigSubex/user/register">Sign In</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/BigSubex/company/register">Company</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/BigSubex/employee/register">Employee</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<nav id="menu" class="top-bar" data-topbar="" role="navigation">
				<ul class="title-area">

					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon">
						<a href=""><span>Menu</span></a>
					</li>
				</ul>

				<section class="top-bar-section">
					<ul class="left">
						<li class="has-dropdown not-click">
							<a href="/BigSubex/products">Einkaufen</a>

							<ul class="dropdown">
								<li class="title back js-generated">
									<h5><a href="javascript:void(0)">Back</a></h5>
								</li>

								<!--<li>
								<label>Level One</label>
								</li>-->

								<li class="has-dropdown not-click">
									<a href="/BigSubex/products">Teile zu fertigen</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Fertigteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Standardteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Normteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<!--<li class="divider"></li>
								<li>
								<a href="#">Sub-item 3</a>
								</li>

								<li>
								<a href="#">Sub-item 5</a>
								</li>
								-->
							</ul>
						</li>
						<li class="divider"></li>
						<li class="has-dropdown not-click">
							<a href="/BigSubex/products">Verkaufen</a>
							<ul class="dropdown">
								<li class="title back js-generated">
									<h5><a href="javascript:void(0)">Back</a></h5>
								</li>

								<!--<li>
								<label>Level One</label>
								</li>-->
								<li class="has-dropdown">
									<a href="/BigSubex/products">Teile zu fertigen</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Fertigteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Standardteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="/BigSubex/products">Normteile</a>
									<ul class="dropdown">
										<li class="title back js-generated">
											<h5><a href="javascript:void(0)">Back</a></h5>
										</li>
										<li>
											<a href="/BigSubex/products">new</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="/BigSubex/products/old">old</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">unvollständig</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">renew</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">continue</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">inbox</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">sent</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">delete</a>
										</li>
									</ul>
								</li>
								<!--<li class="divider"></li>
								<li>
								<a href="#">Sub-item 3</a>
								</li>

								<li>
								<a href="#">Sub-item 5</a>
								</li>
								-->
							</ul>
						</li>
						<li class="divider"></li>
						<li class="has-dropdown">
							<a href="javascript:void(0);">Admin</a>
							<ul class="dropdown">
								<li class="title back js-generated">
									<h5><a href="javascript:void(0)">Back</a></h5>
								</li>

								<li>
									<a href="/BigSubex/employees">Mitarbeiter verwalten</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/BigSubex/company/register">Firmendaten verwalten</a>

								</li>

							</ul>
						</li>
						<li class="divider"></li>
					</ul>
					<!-- Right Nav Section -->
					<!--<ul class="right">
					<li class="divider"></li>
					<li>
					<a href="#">Item 2</a>
					</li>
					</ul>-->
				</section>
			</nav>
		</div>
	</div>

</header>