<section id="wrap">
<div class="row">
<div id="content" class="small-12 columns panel">
<div class="row">
	<div class="small-12 large-9 columns medium-centered">
		<div class="content panel">
			<h3 class="productshead">Login Guest</h3>
			<br/>
			<form class="validate">
				<div class="row">
					<fieldset class="small-12 medium-8 large-7 medium-centered columns">
						<h5 class="headline"> Melden Sie sich an. </h5>
						<div class="small-12 medium-10 medium-centered columns">
							<div class="row">
								<div class="small-12 columns">
									<input type="text" placeholder="E-Mail Adresse" name="email"/>
								</div>
								<div class="small-12 columns">
									<input type="password" placeholder="Passwort" name="password"/>
								</div>
								<div class="small-12 columns">
								    <input type="checkbox" /> accept terms of use
								</div>
								<div class="small-12 columns">
									<a id="ember612" class="ember-view button" href="#/">Register</a>
								</div>
								<div class="small-12 columns">
									<input type="checkbox" /> <a id="ember614" class="ember-view" href="/BigSubex/user/lostpassword">New guest</a>
									<br/>
									<input type="checkbox" /> <a id="ember614" class="ember-view" href="/BigSubex/user/register">Continue registration</a>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<div id="contentline" class="show-for-large-up"></div>
</div>
</section>