<!--<div class="row">
<div class="small-12 large-12 columns medium-centered">
<div class="content panel">
<h1> Produkt auswählen </h1>-->

<form>
    <div class="row">
        <div class="small-12 medium-4 columns" id="products_selector">
            <div class="panel black">
                <h3 class="productshead">Produkt auswählen</h3>

                <div id="listing_back" style="display:none;">
                    <a href="#"> &#171; zurück</a>
                </div>
                <div id="listing_nav">
                    <ul>
                        <li>
                            <a href="#">Verkehrstechnik</a>
                            <ul>
                                <li>
                                    <a href="#">Landfahrzeuge</a>
                                    <ul>
                                        <li>
                                            <a href="#">Auto</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Schaltgetriebe</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="listing_wrapper">
                    <ul class="listing">
                        <li>
                            <a href="#">Maschinenbau</a>
                        </li>
                        <li>
                            <a href="#">Verkehrstechnik</a>
                            <ul>
                                <li>
                                    <a href="#">Landfahrzeuge</a>
                                    <ul>
                                        <li>
                                            <a href="#">Auto</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Bremssysteme</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Lenksysteme</a>
                                                </li>
                                                <li>
                                                    <a href="#">Schaltgetriebe</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Kupplungen</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">LKW</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Bremssysteme</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Lenksysteme</a>
                                                </li>
                                                <li>
                                                    <a href="#">Schaltgetriebe</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Kupplungen</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Lokomotive</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Bremssysteme</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Lenksysteme</a>
                                                </li>
                                                <li>
                                                    <a href="#">Schaltgetriebe</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Bolzen</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Zahnrad</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Schraube</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Hebel</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Kupplungen</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Flugzeuge</a>
                                </li>
                                <li>
                                    <a href="#">Schiffe</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Elektrotechnik</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="small-12 columns medium-8 columns protokoll">
            <div class="panel black">
                <h3 class="productshead">Protokoll</h3>

                <table class="small-12 columns">

                    <tr>

                        <td>
                        <ul class="biglist">
                            <li>
                                Verkehrstechnik
                                <ul>
                                    <li>
                                        Landfahrzeuge
                                        <ul>
                                            <li>
                                                Auto
                                            </li>
                                            <ul>
                                                <li>
                                                    Schaltgetriebe
                                                    <ul>
                                                        <li>
                                                            Zahnrad
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul></td>
                    </tr>
                </table>
                {{#link-to 'products.zahnrad' classNames="button"}}Produkt auswählen{{/link-to}}

            </div>
        </div>

    </div>
    <div class="row">
        <div class="small-12 columns medium-4 columns" id="products_settings">
            <div class="panel black">
                <h4 class="productshead small">Einstellungen</h4>
                <div class="row">
                    <table class="small-12 columns">
                        <tr>
                            <td>Anfrage </td>
                        </tr>
                        <tr>
                            <td>Teile zu Fertigen </td>
                        </tr>
                        <tr>
                            <td>Initial </td>
                        </tr>
                        <tr>
                            <td>Neu </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="small-12 medium-4 columns" id="products_search">
            <div class="panel black">
                <h4 class="productshead small">Suche</h4>
                <div class="row collapse postfix-radius">
                    <div class="small-10 columns">
                        <input type="text" placeholder="Nach Produkt suchen">
                    </div>
                    <div class="small-2 columns">
                        <a class="button postfix" href="#">Go</a>
                    </div>
                </div>
                <div class="customscrollbar">
                    <ul class="biglist">
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>
                        <li>
                            <a href="#">Getriebe</a>
                        </li>
                        <li>
                            <a href="#">Kupplung</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="small-12 medium-4 columns" id="products_parentlist">
            <div class="panel black">
                <h4 class="productshead small">Unterkategorie</h4>
                <div class="customscrollbar">
                    <ul class="biglist" style="display:none;">
                        <li>
                            <a href="#">Auto</a>
                        </li>
                        <li>
                            <a href="#">LKW</a>
                        </li>
                        <li>
                            <a href="#">Lokomotive</a>
                        </li>
                        <li>
                            <a href="#">Flugzueg</a>
                        </li>
                        <li>
                            <a href="#">Auto</a>
                        </li>
                        <li>
                            <a href="#">LKW</a>
                        </li>
                        <li>
                            <a href="#">Lokomotive</a>
                        </li>
                        <li>
                            <a href="#">Flugzueg</a>
                        </li>
                        <li>
                            <a href="#">Auto</a>
                        </li>
                        <li>
                            <a href="#">LKW</a>
                        </li>
                        <li>
                            <a href="#">Lokomotive</a>
                        </li>
                        <li>
                            <a href="#">Flugzueg</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="small-12 columns center">
            {{#link-to 'products.zahnrad' classNames="button"}}Produkt auswählen{{/link-to}}
        </div>

    </div>
</form>

<!--</div>
</div>
</div>-->