<section id="slider">
	<div class="row">
		<ul class="example-orbit" data-orbit="">
			<li>
				<img src="images/slide1.jpg" alt="slide 1" />
				<div class="orbit-caption">
					<h2>Headline</h2>
					Caption One.
				</div>
			</li>
			<li class="active">
				<img src="images/slide2.jpg" alt="slide 2" />
				<div class="orbit-caption">
					<h2>Second Headline</h2>
					Caption Two.
				</div>
			</li>
		</ul>
	</div>
</section>

<section id="wrap">
	<div class="row">
		<div id="content" class="small-12 columns panel">
			HIER KOMMT DER CONTENT VON DEN TEMPLATES HINEIN

		</div>
		<div id="contentline" class="show-for-large-up"></div>
	</div>
</section>